<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Popular Now</h2>

        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div *ngFor="let book of books|paginate:{itemsPerPage:size, currentPage:page, totalItems:count}; " class=" group relative ">

                <div class="w-full py-5 min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none ">
                    <img type="image/jpeg " src="{{book.formats}} " alt="{{book.title}} " class="w-full h-full object-center object-cover lg:w-full lg:h-full ">
                </div>
                <div class="mt-4 flex justify-between ">
                    <div>
                        <h3 class="text-sm text-gray-700 ">
                            <a routerLink="/book/{{book.id}} "> <span aria-hidden="true " class="absolute inset-0 "></span>{{book.title}}
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500 ">{{book.download_count}} downloads</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900 ">{{book.languages}}</p>
                </div>

            </div>

        </div>


        <pagination-controls previousLabel="Prev " nextLabel="Next " (pageChange)="onDataChange($event) " class="py-3 ">

        </pagination-controls>


    </div>
</div>